# Created by .ignore support plugin (hsz.mobi)
*.iml
out
gen### Gradle template
.gradle
/.idea/
/build/
/.settings/
/bin/
/tmp/
.mtj.tmp/
.externalToolBuilders/
.recommenders/
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache
*.log
*.ctxt
*.jar
*.war
*.ear
*.zip
*.7z
*.tar.gz
*.rar
hs_err_pid*
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
gen### Java template
.metadata
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
.recommenders
*.launch
*.pydevproject
.cproject
.factorypath
.buildpath
.target
.tern-project
.texlipse
.springBeans
.cache-main
.scala_dependencies
.worksheet
.classpath
.project
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/Assets/AssetStoreTools*
/.vs/
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.pidb.meta
sysinfo.txt
*.apk
*.unitypackage
