.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/Assets/AssetStoreTools*
/.vs/
ExportedObj/
.consulo/
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.pidb.meta
sysinfo.txt
*.apk
*.unitypackage
Assets/bowandarrow/*
Assets/bowandarrow/bowandarrow.unity
Assets/bowandarrow/Prefabs/arrow.prefab
